li {
    padding: 5px;
}

.pleco-descripion {
    font-style: italic;
    top: 40%;
    font-size: small;
    left: 20%;
    position: absolute;
}

.load-dialog h1 {
    font-weight: bold;
    font-size: xx-large;
}


.load-dialog input[type=file] {
    background-color: #1976D2;
    border: none;
}

.load-dialog button {
    background-color: #1976D2;
    border: none;
    font-weight: bold;
    padding-top: 10px;
    font-size: 20px;
}

.load-dialog {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 200px;
    height: 200px;
    background: #FF5722;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: none;
}